*~
bin
build
.cache
.coverage
develop-eggs
dist
*.egg
*.egg-info
eggs
.idea
.installed.cfg
lib
lib64
*.mo
.mr.developer.cfg
nosetests.xml
parts
pip-log.txt
.project
/pyapi.egg-info
__pycache__
*.py[cod]
.pydevproject
/pynamedoc.egg-info
sdist
.settings
*.so
.tox
var
