{% extends "tmpl/base.html" %}


{# macro have to be ourside of the block block #}
{% macro walk(node) %}
<button id="{{node.path}}" class="btn btn-default node">{{ node.path }}</button>
{%- if node.attrs %}
<div id="{{ node.path }}.div" class="nodes">
{%- for subnode in node.attrs | sort(attribute="name") %}
{{- walk(subnode) }}
{%- endfor %}
</div> <!-- {{ node.path }}.div -->
{%- endif %}
{% endmacro %}

{% block content %}

<script>
function jq( myid ) {	 
    return "#" + myid.replace( /(:|\.|\[|\]|,)/g, "\\$1" );
}
$(document).ready(function(){
    $(".node").click(function(){
    	var sel = jq($(this).attr("id") + ".div");
        $(sel).toggle();
    });
}); 
</script>

{% for node in root.attrs %}
{{ walk(node) }}
{% endfor %}


{% endblock %}
