
h1 {
	font-size: medium;
	border-top-style: dashed;
	border-width: thin;
}

nodiv {
	border-color: red;
	border-width: 1px;
	border-style: solid;
	padding: 1px;
}


.scope {
	margin-top: 2pt;
	margin-bottom: 2pt;
}