
body {
    background-color: #23527c;
    margin: 0;
}

.content {
    min-height: 90vh;
    background-color: white;
}

footer {
    color: white;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.scope {
    margin-top: 0pt;
    margin-bottom: 0pt;
}

.list-inline > li {
    padding-bottom: 7px;
}